*{
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right,saddlebrown,darkslategray );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.registeration{
    background-image: url(hold.png);
    background-size: cover;
    padding: 1rem;
    width: 50%;
    opacity: 1;
}

.registeration__box {
    background-image: linear-gradient(to right,rgba(120, 116, 113, 0.8),rgb(49, 65, 65, 0.4) );
    padding: 0.6rem;
}


.registering-container--input{
    background-color: rgb(235, 213, 172, 0.6);
    color: rgb(62, 54, 54);
    border-radius: 2px;
    padding: 0.5rem;
    cursor: pointer;
    margin-bottom: 0.8rem;

}
.registering-container--label{
    font-weight: bold;

}


/* registeration btn */
.registeration-btn{
    background-color: #c89a01;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.4rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.registeration-btn:hover {
    background-color: #fdc50b;
    
}

/* login container */

.login{
    background-color: rgb(235, 213, 172, 0.7);
    width: 100%;
    font-size: 1.3rem;
    padding: 0.5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__box{
    background-image: linear-gradient(to right,rgba(120, 116, 113, 0.8),rgb(49, 65, 65, 0.4) );
    padding: 0.6rem;
}

.log-container{
    padding: 0.4rem;
    margin-top: 0.4rem;
    margin-bottom: 1.4rem;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.log-container--label{
    font-weight: bold;
}

.log-container--input{
    background-color: rgb(235, 213, 172, 0.6);
    color: rgb(62, 54, 54);
    border-radius: 2px;
    padding: 0.6rem;
    cursor: pointer;

}

.login__btn{
    background-color: darkolivegreen;
    text-align: center;
    font-size: 1.3rem;
    border: none;
    border-radius: 0.5rem;
    width: 30%;

}

